*{
    margin: 0px;
    padding: 0px;
}
@font-face {
  font-family:'HP';
  src: url('HARRP___.ttf');
}
#container {
    background: url("../images/bg.jpg") no-repeat;
    width: 1280px;
    height: 900px;
    text-align: center;
}
#battle_gild {
    text-align: center;
    padding: 20px;
    width: 1280px;
    height: 900px;
}
.img {
    position: relative;
    float: center;
    width:  100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgbattle {
    position: relative;
    float: right;
    width:  250px;
    height: 400px;
    /*background-position: 50% 50%;*/
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;

}
#battlelog{
  margin-bottom: 10px;
  width:  600px;
  height: 200px;
  overflow: auto;
  vertical-align: top;
  margin-left: 20px;
  margin:0 auto;
text-align:center;
}
button#submit{
    font-family: "HP";
    padding: 5px;
    width: 150px;
    font-size: 16px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
    margin-left: 101px;
}
#battlelog p{
     font-family: "HP";
     font-size: 20px;
     color: red;
}
#content {
    padding-top: 300px;
    padding-left: 500px;
}
#attacks{
    /*position: relative;*/
    /*text-align: center;*/
    margin-left: 82px;
    width:  350px;
    height: 400px;
    overflow: auto;
}
#attacks input{
  margin-left: 145px;
  /*text-align: center;*/
}


a{
  text-decoration: none;
}
form {
    display:table;
    color: white;
}
p {
    font-size: 12px;
}
label{
    display:table-cell;
}
input{
    display: table-cell;
}
h3{
    color: ;
    background: -webkit-linear-gradient(#FBD107 , #FBD107 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    padding:5px 0px 5px 0px;
    font-family: 'HP';
}
h2{
    color: ;
    background: -webkit-linear-gradient(#FBD107 , #FF3200 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:5px 0px 5px 0px;
    font-family: 'HP';
    font-size: 24px;
    margin: 5px 0px;
}
h1 {
   color: ;
   background: -webkit-linear-gradient(#FBD107 , #FBD107 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   padding-top: 20px;
   font-family: 'HP';
   font-size: 40px;
}
h2#enemy{
    display: inline-block;
    margin-left: 150px;
}
h2#user{
    display: inline-block;
    margin-right: 150px;
}
.gandalf{
  float:left;
  position: relative;
  width:  250px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

#middle{
  width: 500px;
  display: inline-block;
  vertical-align: top;
}
