<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/choosehouse.css' %}">
    <title>Houses</title>
</head>
<body>
  <div id="container">
    <h1>Choose Your House</h1>
      <div id="houses">
        <div id="gryffindor">
          <a href="{% url 'house:gryffindor' %}">
            <img src="{% static 'images/g.png' %}" />
          </a>
        </div>
        <div id="hufflepuff">
          <a href="{% url 'house:hufflepuff' %}">
            <img src="{% static 'images/h.png' %}" />
          </a>
        </div>
        <div id="ravenclaw">
          <a href="{% url 'house:ravenclaw' %}">
            <img src="{% static 'images/r.png' %}" />
          </a>
        </div>
        <div id="slytherin">
          <a href="{% url 'house:slytherin' %}">
            <img src="{% static 'images/s.png' %}" />
          </a>
        </div>
        <div id="logout">
          <a href="/"><button>Go Back</button></a>
        </div>
      </div>
    </div>
</body>
</html>
