<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/house.css' %}">
  <title>Document</title>
</head>
<body>
  <div id="house">
    <h1>You Chose Ravenclaw!</h1>
    {% load staticfiles %}
    <img src="{% static 'images/r.png' %}"/>
    <a href="{% url 'duel:index' %}"><button id="button1">Choose Your Opponent</button></a>
    <br>
    <a href="{% url 'house:index' %}"><button id="button2">Choose A Different House</button></a>
  </div>
</body>
</html>
