<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'harry_app/css/gameover.css' %}">
  <title>You Win!</title>
</head>
<body>
  <div id="container">
    <h1>Congratulations, {{ request.session.user.name }}!</h1>
    <img src="{% static 'harry_app/images/dueling.jpg' %}" />
    <br>
    <br>
    <a href="{% url 'duel:index' %}"><button id="button1">Duel Again</button></a>
    <br>
    <a href="{% url 'hplog:logoff' %}"><button id="button2">Log Out</button></a>
  </div>


</body>
</html>
